* {
    box-sizing: border-box;
}

html {
    height: 100%;
}


body {
    margin: 0;
    min-height: 100%;

    font-family: Arial, Helvetica, sans-serif;
}

.main-nav {
    display: -webkit-flex;
    display: flex;
    align-items: center;

    margin-right: 50px;

    list-style-type: none;
}

header {
    width: 100%;
    height: auto;
    
    position: sticky;
    top: 0;
    z-index: 1;
    
    background-color: #fff;
}

.main-nav li:first-child {
    margin-right: auto;
}

.main-nav a {
    margin: 10px;
    color: #000;
    display: block;
    padding: 15px;
    text-decoration: none;
}

.main-nav .logo {
    padding: 10px 0;
    margin: 0;
}

main {
    padding: 0 163px;
}

p {
    margin: 0;
}

.gallery-title {
    padding-top: 50px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(62, 62, 62) ;
}

.gallery-title > h1 {
    font-size: 50px;
}

.gallery-title > p {
    font-size: 18px;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;

    padding: 0;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;

    padding: 0;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    width: 400px;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;

    padding: 0;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;


    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    gap: 33px;
}